* {
	margin : 0;
	padding: 0;
}
#div1 {
	width   : 470px;
	height  : 150px;
	position: relative;
	overflow: hidden;
}
#ul1 {
	position: absolute;
	left    : 0;
}
#ul1 li {
	width     : 470px;
	height    : 150px;
	float     : left;
	list-style: none;
}
